@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);
.noto, body {
  font-family: 'Noto Sans KR', sans-serif; }

.maven, #gnb .all-brand, #footer .cs h4, #footer .qr ul li, #footer .notice h4 {
  font-family: 'Maven Pro', sans-serif; }

body {
  font-size: 13px;
  line-height: 20px;
  color: #666;
  font-weight: 300;
  min-width: 1200px; }

dl dt, dl dd {
  font-size: 13px;
  line-height: 20px; }

a {
  color: #666; }
  a:hover {
    color: #666; }

.container {
  width: 1200px; }

.form-control {
  font-size: 13px; }

/*
 * @헤더영역
 */
#top-nav {
  overflow: hidden;
  height: 40px; }
  #top-nav .container {
    position: relative; }
  #top-nav .sns {
    margin-top: -1px; }
    #top-nav .sns li {
      display: inline; }
      #top-nav .sns li a {
        float: left;
        margin-left: -1px;
        width: 40px;
        height: 40px;
        border: 1px solid #ebebeb;
        text-align: center; }
        #top-nav .sns li a img {
          display: block;
          margin: 12px auto 0;
          opacity: .3; }
        #top-nav .sns li a:hover, #top-nav .sns li a:focus {
          background-color: #f7f7f7; }
  #top-nav .util {
    float: right;
    margin-top: 12px;
    margin-right: 55px; }
    #top-nav .util li {
      display: inline; }
      #top-nav .util li a {
        float: left;
        font-size: 12px;
        color: #999;
        letter-spacing: -1px; }
        #top-nav .util li a.cart b {
          color: #ed5665; }
      #top-nav .util li + li:before {
        float: left;
        margin-top: -1px;
        padding-right: 10px;
        padding-left: 10px;
        content: '|';
        color: #ccc;
        font-size: 10px; }
  #top-nav .btn-topbn {
    position: absolute;
    top: 0;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: #f3e3e4;
    color: #333;
    text-decoration: none; }
    #top-nav .btn-topbn:before {
      font-family: 'GLYPHICONS Halflings';
      content: "\e260"; }
    #top-nav .btn-topbn.collapsed:before {
      font-family: 'GLYPHICONS Halflings';
      content: "\e259"; }

#header {
  height: 123px; }
  #header .ad {
    display: block;
    margin-top: 30px; }
  #header .logo {
    margin-top: 25px;
    text-align: center; }
  #header .search {
    position: relative;
    overflow: hidden;
    float: right;
    margin-top: 45px;
    width: 200px;
    height: 35px;
    border: 1px solid #b4b4b4;
    border-radius: 17px; }
    #header .search .form-group {
      margin-right: 36px; }
    #header .search .form-control {
      height: 33px;
      border: 0; }
    #header .search .btn-search {
      position: absolute;
      top: 0;
      right: 3px;
      width: 33px;
      height: 33px;
      color: #ff6776;
      font-size: 16px; }

#gnb {
  height: 50px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 2px solid #ee5766; }
  #gnb .row > div:nth-of-type(2) {
    height: 47px; }
  #gnb .category {
    margin-right: -15px; }
    #gnb .category li {
      float: left; }
      #gnb .category li + li {
        margin-left: 60px; }
      #gnb .category li a {
        font-size: 15px;
        font-weight: bold;
        color: #333;
        line-height: 47px; }
  #gnb .split {
    text-align: center; }
    #gnb .split:before {
      display: block;
      margin: 0 auto;
      content: url(/design/brapra/images/common/bg_gnb_diagonal.gif); }
  #gnb .event {
    margin-left: -15px;
    margin-right: -30px; }
    #gnb .event li {
      float: left; }
      #gnb .event li + li {
        margin-left: 58px; }
      #gnb .event li a {
        font-size: 15px;
        font-weight: bold;
        color: #ff6070;
        line-height: 47px;
        letter-spacing: -1px; }
  #gnb .all-brand {
    position: relative;
    display: block;
    float: right;
    padding-top: 10px;
    width: 132px;
    height: 47px;
    background-color: #ee5766;
    text-align: center;
    color: #fff;
    font-size: 17px; }
    #gnb .all-brand:before {
      position: absolute;
      top: -15px;
      left: -8px;
      content: url(/design/brapra/images/common/bg_all_brand.gif); }
    #gnb .all-brand:after {
      display: block;
      content: url(/design/brapra/images/common/ico_angle_down.png);
      line-height: 10px; }

#content {
  min-height: 300px; }

.top-visual {
  height: 270px;
  text-align: center; }
  .top-visual > div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37); }
    .top-visual > div .visual-title {
      margin-top: 120px; }
  .top-visual.about {
    background-image: url(/design/brapra/images/common/bg_about_underwear.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; }

.page-header {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-bottom: 0;
  border-bottom: 0;
  text-align: center; }
  .page-header .page-title {
    margin-bottom: 15px;
    font-size: 23px;
    color: #333; }
  .page-header hr {
    margin-top: 0;
    margin-bottom: 0;
    width: 30px;
    border-top: 2px solid #333; }
    .page-header hr + p {
      margin-top: 20px; }
  .page-header p {
    font-size: 14px;
    line-height: 25px; }

#footer {
  padding-top: 57px;
  border-top: 3px solid #333; }
  #footer .cs h4 {
    margin-bottom: 25px;
    font-size: 19px;
    font-weight: 900;
    color: #333; }
  #footer .cs .info dl {
    overflow: hidden;
    margin-top: 15px; }
    #footer .cs .info dl dt, #footer .cs .info dl dd {
      float: left;
      font-weight: 400;
      font-size: 12px; }
    #footer .cs .info dl dt {
      font-size: 12px; }
      #footer .cs .info dl dt:before {
        margin-left: 5px;
        margin-right: 5px;
        content: '|';
        font-size: 10px;
        vertical-align: 1px; }
      #footer .cs .info dl dt:first-child:before {
        margin-left: 0;
        margin-right: 0;
        content: ''; }
    #footer .cs .info dl dd:before {
      content: ':'; }
  #footer .cs .info p {
    font-size: 12px; }
    #footer .cs .info p:before {
      margin-right: 5px;
      content: '※'; }
  #footer .cs .quick {
    float: right;
    width: 230px; }
    #footer .cs .quick ul {
      margin-left: -5px;
      margin-right: -5px; }
      #footer .cs .quick ul li {
        float: left;
        width: 50%;
        margin-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px; }
        #footer .cs .quick ul li a {
          display: block;
          width: 95px;
          height: 40px;
          border: 1px solid #ccc;
          font-size: 13px;
          line-height: 38px;
          text-align: center; }
  #footer .qr {
    margin-top: 45px; }
    #footer .qr ul {
      margin: 0 auto;
      padding-left: 29px;
      padding-right: 29px;
      width: 240px;
      height: 90px;
      border-left: 1px solid #dfdfdf;
      border-right: 1px solid #dfdfdf; }
      #footer .qr ul li {
        float: left;
        width: 90px;
        height: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 12px; }
        #footer .qr ul li img {
          margin-bottom: 10px; }
  #footer .notice {
    position: relative; }
    #footer .notice h4 {
      margin-bottom: 20px;
      font-size: 19px;
      font-weight: 900;
      color: #333; }
    #footer .notice ol li {
      position: relative;
      line-height: 25px; }
      #footer .notice ol li p {
        overflow: hidden;
        margin-right: 80px;
        text-overflow: ellipsis;
        white-space: nowrap; }
        #footer .notice ol li p:before {
          margin-right: 5px;
          content: '·'; }
        #footer .notice ol li p a {
          line-height: 25px; }
      #footer .notice ol li span {
        position: absolute;
        right: 0;
        top: 0;
        letter-spacing: 0; }
    #footer .notice .more {
      position: absolute;
      top: 0;
      right: 0; }
      #footer .notice .more:before {
        content: url(/design/brapra/images/common/ico_plus.png); }
  #footer .foot-nav {
    margin-top: 55px;
    margin-bottom: 40px;
    height: 46px;
    background-color: #eee;
    border-bottom: 1px solid #dbdbdb; }
    #footer .foot-nav .policy li {
      float: left;
      line-height: 45px; }
      #footer .foot-nav .policy li + li:before {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        content: '·'; }
      #footer .foot-nav .policy li a {
        color: #8f8f8f; }
    #footer .foot-nav .sns {
      float: right; }
      #footer .foot-nav .sns li {
        float: left; }
        #footer .foot-nav .sns li a {
          display: block;
          width: 35px;
          height: 45px;
          text-align: center; }
          #footer .foot-nav .sns li a img {
            margin-top: 15px;
            opacity: .3; }
          #footer .foot-nav .sns li a:hover img, #footer .foot-nav .sns li a:focus img {
            opacity: .7; }
  #footer .company h5 {
    margin-bottom: 10px;
    font-size: 13px;
    color: #333;
    font-weight: 600; }
  #footer .company dl {
    overflow: hidden; }
    #footer .company dl dt, #footer .company dl dd {
      float: left;
      font-weight: 300; }
    #footer .company dl dt:before {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      content: '|';
      font-size: 10px;
      vertical-align: 2px; }
    #footer .company dl dt:first-child:before {
      padding-left: 0;
      padding-right: 0;
      content: ''; }
    #footer .company dl dd address {
      display: inline; }
    #footer .company dl dd:before {
      float: left;
      padding-left: 3px;
      padding-right: 3px;
      content: ':';
      vertical-align: 1px; }
    #footer .company dl dd .num {
      font-size: 14px; }
    #footer .company dl dd .check {
      color: #ef677d; }
  #footer .escrow h5 {
    margin-bottom: 10px;
    font-size: 13px;
    color: #333;
    font-weight: 600; }
  #footer .escrow p {
    color: #999; }
    #footer .escrow p .check {
      color: #999; }
    #footer .escrow p:after {
      content: '▶';
      font-size: 10px; }
  #footer .copyright {
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: 'Myriad Pro', sans-serif;
    letter-spacing: 0; }
    #footer .copyright a {
      color: #bbb; }

#all-brand .modal-dialog {
  width: 1055px; }
#all-brand .modal-content {
  padding: 30px;
  border-radius: 0;
  box-shadow: none;
  border: 0; }
#all-brand .modal-header {
  padding: 0; }
  #all-brand .modal-header .modal-title {
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Maven Pro', sans-serif;
    color: #333;
    font-weight: 700;
    line-height: 40px; }
  #all-brand .modal-header .close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    width: 50px;
    height: 50px;
    opacity: 1;
    background-color: #ff6070; }
    #all-brand .modal-header .close:before {
      content: url(/design/brapra/images/common/ico_close_white.png); }
#all-brand .modal-body {
  padding: 0; }
  #all-brand .modal-body .brand h5 {
    font-size: 14px;
    color: #333; }
  #all-brand .modal-body .brand.mcorset h5 {
    margin-top: 30px;
    margin-bottom: 20px; }
  #all-brand .modal-body .brand.mcorset ul {
    overflow: hidden;
    margin: -10px; }
  #all-brand .modal-body .brand.mcorset li {
    float: left;
    padding: 10px;
    width: 14.28%; }
  #all-brand .modal-body .brand.mcorset a {
    display: block;
    padding-top: 20px;
    height: 110px;
    border: 1px solid #e3e3e3;
    text-align: center;
    font-size: 13px;
    text-decoration: none; }
    #all-brand .modal-body .brand.mcorset a:hover, #all-brand .modal-body .brand.mcorset a:focus {
      border-color: #ff6776; }
    #all-brand .modal-body .brand.mcorset a div {
      display: table;
      width: 100%;
      height: 50px; }
      #all-brand .modal-body .brand.mcorset a div p {
        display: table-cell;
        text-align: center;
        vertical-align: middle; }
  #all-brand .modal-body .brand.third-party {
    margin-bottom: 10px; }
    #all-brand .modal-body .brand.third-party h5 {
      margin-top: 60px;
      margin-bottom: 10px; }
    #all-brand .modal-body .brand.third-party:after {
      content: ' ';
      display: table;
      clear: both; }
    #all-brand .modal-body .brand.third-party div {
      margin-left: -10px;
      margin-right: -10px; }
    #all-brand .modal-body .brand.third-party ul {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      width: 14.28%; }
    #all-brand .modal-body .brand.third-party li a {
      font-size: 13px;
      line-height: 25px; }

/*# sourceMappingURL=common.css.map */
