@import 'https://fonts.googleapis.com/css?family=Maven+Pro|Noto+Sans';
.maven {
    font-family: 'Maven Pro', sans-serif;
}
.noto {
    font-family: 'Noto Sans', sans-serif;
}
body {
    min-width: 320px;
    font-size: 10px;
    color: #333;
    font-weight: 300;
    font-family: 'Noto Sans', sans-serif;
}
address, p, dl {
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    .row {
        margin-left: -10px;
        margin-right: -10px;
        @for $i from 1 through 12 {
            .col-xs-#{$i} {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

#header {
    position: relative;
    height: 52.66px;
    border-bottom: 1px solid #e05260;
    background-color: #fff;
    .btn-menu {
        position: absolute;
        top: 18.33px;
        left: 10px;
        padding: 0;
        display: block;
        border-radius: 0;
        background-color: #fff;
        .bar {
            display: block;
            width: 21.33px;
            height: 16px;
            background-image: url(/design/brapra/mobile/images/main/menu_btn.gif);
            background-repeat: no-repeat;
            background-size: 21.33px 16px;
        }
    }
    h1 {
        width: 88.66px;
        margin: 0 auto;
        padding-top: 13.66px;
        img {
            display: block;
            width: 88.66px;
            height: 26.33px;
            vertical-align: top;
        }
    }
    .quick-btn {
        position: absolute;
        top: 16px;
        right: 12.66px;
        .btn-search {
            padding: 0;
            margin-right: 5px;
            background-color: #fff;
            .search {
                display: block;
                width: 20.66px;
                height: 20.66px;
                background-image: url(/design/brapra/mobile/images/main/search_btn.gif);
                background-repeat: no-repeat;
                background-size: 20.66px 20.66px;
                background-position: 0 0;
            }
        }
        .btn-basket {
            padding: 0;
            background-color: #fff;
            .basket {
                display: block;
                width: 23.66px;
                height: 21.33px;
                background-image: url(/design/brapra/mobile/images/main/basket_btn.gif);
                background-repeat: no-repeat;
                background-size: 23.66px 21.33px;
                background-position: 0 0;
            }
        }
    }
}




#primary-menu {
    height: 27.33px;
    ul {
        overflow: hidden;
        li {
            float: left;
            display: block;
            width: 25%;
            height: 27.33px;
            line-height: 27.33px;
            text-align: center;
            background-color: #fff;
            @extend .maven;
            a {
                display: block;
                font-size: 10px;
                color: #333;
                &:hover {
                    text-decoration: none;
                }
                &:focus {
                    color: #ee5766;
                    text-decoration: none;
                }
            }
            &:nth-of-type(3) {
                @extend .noto;
            }
        }
    }
}




#content {
    #visual {
        position: relative;
        border-top: 1px solid #565a64;
        border-bottom: 1px solid #e3e4e8;
        ul {
            li {
                text-align: center;
                a {
                    img {
                        display: inline-block;
                    }
                }
            }
        }
        .bx-controls {
            position: absolute;
            bottom: 12px;
            width: 100%;
            .bx-pager {
                text-align: center;
                .bx-pager-item {
                    text-indent: -9999px;
                    display: inline-block;
                    margin: 0 3.5px;
                    .bx-pager-link {
                        display: block;
                        width: 12px;
                        height: 12px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                    }
                    .active {
                        background-color: #fff;
                    }
                }
            }
        }
    }
}






#footer {
    background-color: #fff;
    .banner {
        text-align: center;
        a {
            img {
                display: inline-block;
            }
        }
    }
    .cs-center {
        padding-top: 30px;
        text-align: center;
        h3 {
            font-size: 12.66px;
            color: #333;
            @extend .maven;
            margin-bottom: 10px;
        }
        .cs-img {
            margin-bottom: 20px;
            a {
                img {
                    width: 138.33px;
                    height: 23.33px;
                }
            }
        }
        .cs-info {
            li {
                display: inline-block;
                &:after {
                    color: #666;
                    content: "|";
                }
                &:last-child:after {
                    content: "";
                }
                dl {
                    display: inline;
                    dt{
                        font-size: 10px;
                        color: #666;
                        font-weight: 300;
                        line-height: 16px;
                        display: inline;
                        &:after {
                            content: ":";
                        }
                    }
                    dd{
                        font-size: 10px;
                        color: #666;
                        line-height: 16px;
                        display: inline-block;
                    }
                }
            }
        }
        .attention {
            font-size: 10px;
            line-height: 16px;
            color: #666;
            &:before {
                content: "※";
                padding-right: 3px;
            }
        }
        .quick-menu {
            padding-top: 20px;
            padding-bottom: 12px;
            border-bottom: 1px solid #333;
            ul {
                li {
                    margin-bottom: 10px;
                    &:nth-of-type(1) {
                        a {
                            background-image: url(/design/brapra/mobile/images/main/foot_btn01.gif);
                            background-repeat: no-repeat;
                            background-size: 17.33px 19.33px;
                            background-position: 50% 35%;

                        }
                    }
                    &:nth-of-type(2) {
                        a {
                            background-image: url(/design/brapra/mobile/images/main/foot_btn02.gif);
                            background-repeat: no-repeat;
                            background-size: 15.66px 23px;
                            background-position: 50% 35%;
                        }
                    }
                    &:nth-of-type(3) {
                        a {
                            background-image: url(/design/brapra/mobile/images/main/foot_btn03.gif);
                            background-repeat: no-repeat;
                            background-size: 28px 20px;
                            background-position: 50% 35%;
                        }
                    }
                    &:nth-of-type(4) {
                        a {
                            background-image: url(/design/brapra/mobile/images/main/foot_btn04.gif);
                            background-repeat: no-repeat;
                            background-size: 20.66px 22.33px;
                            background-position: 50% 35%;
                        }
                    }
                    &:nth-of-type(5) {
                        a {
                            background-image: url(/design/brapra/mobile/images/main/foot_btn05.gif);
                            background-repeat: no-repeat;
                            background-size: 21.66px 20px;
                            background-position: 50% 35%;
                        }
                    }
                    &:nth-of-type(6) {
                        a {
                            background-image: url(/design/brapra/mobile/images/main/foot_btn06.gif);
                            background-repeat: no-repeat;
                            background-size: 28px 18.66px;
                            background-position: 50% 35%;
                        }
                    }
                    &:nth-of-type(7) {
                        a {
                            background-image: url(/design/brapra/mobile/images/main/foot_btn07.gif);
                            background-repeat: no-repeat;
                            background-size: 20px 23.66px;
                            background-position: 50% 35%;
                        }
                    }
                    &:nth-of-type(8) {
                        a {
                            background-image: url(/design/brapra/mobile/images/main/foot_btn08.gif);
                            background-repeat: no-repeat;
                            background-size: 25px 24.33px;
                            background-position: 50% 35%;
                        }
                    }
                    a {
                        display: block;
                        height: 68.33px;
                        font-size: 10px;
                        font-weight: bold;
                        color: #333;
                        letter-spacing: -.5px;
                        padding-top: 43px;
                        border: 1px solid #dfdfdf;
                        background-color: #efefef;
                    }
                }
            }
        }
    }
    .company-info {
        padding-bottom: 33px;
        background-color: #eee;
        .notice {
            height: 34px;
            dl {
                overflow: hidden;
                padding-left: 23.66px;
                dt {
                    float: left;
                    width: 55.6px;
                    font-size: 12px;
                    color: #333;
                    line-height: 34px;
                    @extend .maven;
                }
                dd {
                    float: left;
                    line-height: 34px;
                    a {
                        font-size: 11px;
                        color: #555;
                        display: inline-block;
                    }
                }
            }
        }
        .company {
            text-align: center;
            padding-top: 20px;
            background-image: url(/design/brapra/mobile/images/main/company_bg.gif);
            background-repeat: repeat-x;
            background-size: auto 3px;
            .terms {
                margin-bottom: 20px;
                li {
                    display: inline-block;
                    &:after {
                        content: "·";
                        font-size: 10px;
                        padding: 0 4px 0 5px;
                    }
                    &:last-child:after {
                        content: "";
                        padding: 0;
                    }
                    a {
                        color: #666;
                        font-size: 11px;
                    }
                }
            }
            .information {
                li {
                    line-height: 16px;
                    display: inline-block;
                    &:after {
                        color: #999;
                        padding: 0 4px 0 5px;
                        content: "|";
                    }
                    dl {
                        display: inline;
                        dt {
                            font-size: 11px;
                            color: #999;
                            font-weight: 300;
                            line-height: 16px;
                            display: inline-block;
                            &:after {
                                color: #999;
                                content: ":";
                                padding: 0 1px 0 2px;
                            }
                        }
                        dd {
                            font-size: 11px;
                            color: #999;
                            line-height: 16px;
                            display: inline-block;
                            .mcorset {
                                font-style: normal;
                                color: #333;
                            }
                            i {
                                font-style: normal;
                                color: #ef677d;
                            }
                        }
                    }
                }
            }
        }
    }
}
































