.maven, #content .best-content .container > div h3 i, #content .product-best .container > div h3 i {
  font-family: 'Maven Pro', sans-serif; }

.noto {
  font-family: 'Noto Sans', sans-serif; }

#content #visual {
  position: relative;
  border-top: 1px solid #565a64;
  border-bottom: 1px solid #e3e4e8; }
  #content #visual ul li {
    text-align: center; }
    #content #visual ul li a img {
      display: inline-block; }
  #content #visual .bx-controls {
    position: absolute;
    bottom: 12px;
    width: 100%; }
    #content #visual .bx-controls .bx-pager {
      text-align: center; }
      #content #visual .bx-controls .bx-pager .bx-pager-item {
        text-indent: -9999px;
        display: inline-block;
        margin: 0 3.5px; }
        #content #visual .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
          display: block;
          width: 12px;
          height: 12px;
          border: 1px solid #fff;
          border-radius: 50%; }
        #content #visual .bx-controls .bx-pager .bx-pager-item .active {
          background-color: #fff; }
#content .best-content .container > div {
  margin-top: 41.33px;
  border-top: 1px solid #d7d7d7; }
  #content .best-content .container > div h3 {
    width: 120px;
    font-size: 13px;
    color: #333;
    text-align: center;
    margin: 0 auto;
    margin-top: -9px;
    background-color: #fff; }
    #content .best-content .container > div h3 i {
      font-style: normal;
      font-size: 15px;
      font-weight: 300;
      color: #c2c2c2; }
  #content .best-content .container > div .best-product {
    margin-top: 36.33px; }
    #content .best-content .container > div .best-product li {
      display: inline-block;
      margin-right: 20px; }
      #content .best-content .container > div .best-product li:last-child {
        margin-right: 0; }
      #content .best-content .container > div .best-product li .item img {
        width: 120px;
        height: 120px; }
      #content .best-content .container > div .best-product li .details {
        width: 120px;
        padding-top: 10px; }
        #content .best-content .container > div .best-product li .details .product-info {
          font-size: 10px;
          color: #666;
          line-height: 16px;
          letter-spacing: -.5px;
          text-align: center; }
        #content .best-content .container > div .best-product li .details .amount {
          margin-top: 5px;
          font-size: 11px;
          font-weight: bold;
          color: #333;
          text-align: center; }
          #content .best-content .container > div .best-product li .details .amount span {
            display: inline-block;
            font-weight: 300;
            color: #666;
            text-decoration: line-through;
            margin-right: 10px; }
#content .best-content .container .revisionbra-best {
  padding-bottom: 36.33px; }
#content .bra-top {
  position: relative;
  padding: 20px 20px 16.33px;
  background-color: #aebdc2; }
  #content .bra-top ul li a .title {
    margin: 0 auto;
    max-width: 840px;
    font-size: 12px;
    text-align: center;
    padding: 21.66px 0;
    color: #444;
    line-height: 16px;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4; }
    #content .bra-top ul li a .title strong {
      color: #111;
      line-height: 16px; }
  #content .bra-top ul li a .bratop-img {
    text-align: center; }
    #content .bra-top ul li a .bratop-img img {
      display: inline-block; }
  #content .bra-top .bx-controls {
    width: 45px;
    height: 10px;
    margin: 0 auto;
    margin-top: 10px; }
    #content .bra-top .bx-controls .bx-pager .bx-pager-item {
      text-indent: -9999px;
      display: inline-block;
      margin: 0 2.5px; }
      #content .bra-top .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid #fff;
        border-radius: 50%; }
      #content .bra-top .bx-controls .bx-pager .bx-pager-item .active {
        background-color: #fff; }
#content .brand-product {
  padding-top: 30px; }
  #content .brand-product ul {
    width: 300px;
    margin: 0 auto;
    overflow: hidden; }
    #content .brand-product ul li {
      float: left;
      width: 148px;
      height: 148px;
      text-align: center;
      margin-bottom: -1px;
      border: 1px solid #e3e3e3; }
      #content .brand-product ul li a {
        font-size: 12px;
        color: #fff;
        line-height: 16px; }
        #content .brand-product ul li a img {
          margin-top: 55.33px; }
        #content .brand-product ul li a h3 {
          font-size: 11px;
          color: #666;
          margin-top: 10px; }
      #content .brand-product ul li:nth-of-type(even) {
        margin-left: -1px; }
      #content .brand-product ul li:nth-of-type(1) {
        padding-top: 58px;
        background-image: url(/design/brapra/mobile/images/main/brand_img01.jpg);
        background-repeat: no-repeat;
        background-size: 148px 148px;
        background-position: 50% 50%; }
      #content .brand-product ul li:nth-of-type(2) a img {
        width: 107.33px; }
      #content .brand-product ul li:nth-of-type(3) a img {
        width: 99.33px; }
      #content .brand-product ul li:nth-of-type(4) {
        padding-top: 58px;
        background-image: url(/design/brapra/mobile/images/main/brand_img02.jpg);
        background-repeat: no-repeat;
        background-size: 148px 148px;
        background-position: 50% 50%; }
      #content .brand-product ul li:nth-of-type(5) {
        padding-top: 58px;
        margin-bottom: 1px;
        background-image: url(/design/brapra/mobile/images/main/brand_img03.jpg);
        background-repeat: no-repeat;
        background-size: 148px 148px;
        background-position: 50% 50%; }
      #content .brand-product ul li:nth-of-type(6) {
        margin-bottom: 1px; }
        #content .brand-product ul li:nth-of-type(6) a img {
          width: 102px; }
#content .product-best .container > div {
  margin-top: 41.33px;
  margin-bottom: 10px;
  border-top: 1px solid #d7d7d7; }
  #content .product-best .container > div h3 {
    width: 120px;
    font-size: 13px;
    color: #333;
    text-align: center;
    margin: 0 auto;
    margin-top: -9px;
    background-color: #fff; }
    #content .product-best .container > div h3 i {
      font-style: normal;
      font-size: 15px;
      font-weight: 300;
      color: #c2c2c2; }
  #content .product-best .container > div ul {
    margin-top: 30px; }
    #content .product-best .container > div ul li {
      margin-bottom: 20px; }
      #content .product-best .container > div ul li a {
        text-align: center; }
        #content .product-best .container > div ul li a .details {
          padding-top: 10px; }
          #content .product-best .container > div ul li a .details .product-info {
            font-size: 10px;
            color: #666;
            line-height: 16px; }
          #content .product-best .container > div ul li a .details .amount {
            margin-top: 5px;
            font-size: 11px;
            font-weight: bold;
            color: #333;
            text-align: center; }
            #content .product-best .container > div ul li a .details .amount span {
              display: inline-block;
              font-weight: 300;
              color: #666;
              text-decoration: line-through;
              margin-right: 10px; }
  #content .product-best .container > div .btn-area {
    text-align: center; }
    #content .product-best .container > div .btn-area p .btn-more {
      width: 140px;
      height: 30px;
      display: inline-block;
      font-size: 10px;
      color: #666;
      text-align: center;
      border: 1px solid #ddd;
      border-radius: 0; }
#content .product-best .container .wire-best ul li a .details {
  height: 90px; }
#content .product-best .container .lace-best {
  padding-bottom: 20px; }
  #content .product-best .container .lace-best ul li a .details {
    height: 80px; }

/*# sourceMappingURL=main.css.map */
